[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywin32 = "*"
tqdm = "*"

[dev-packages]
autoflake = "*"
black = {extras = ["d"], version = "*"}
ipython = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.9"
