[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "==0.56.4"
pandapower = "~=2.13.1"
pydantic = "~=1.10.8"
tqdm = "~=4.65.0"
typer = {version = "~=0.9.0", extras = ["all"]}
rich = "~=13.5.1"

[dev-packages]
autoflake = "*"
black = {extras = ["d"], version = "*"}
isort = "*"
mypy = "*"
prospector = {extras = ["with_everything"], version = "*"}

[requires]
python_version = "3.9"
