[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numba = "*"
pandapower = "*"
pydantic = "*"
tqdm = "*"
typer = {version = "*", extras = ["all"]}
rich = "*"

[dev-packages]
autoflake = "*"
black = {extras = ["d"], version = "*"}
isort = "*"
mypy = "*"
prospector = {extras = ["with_everything"], version = "*"}

[requires]
python_version = "3.9"
