# https://github.com/PyCQA/isort/issues/1518#issuecomment-703056188
[tool.isort]
profile = "black"

# https://mypy.readthedocs.io/en/latest/config_file.html#example-pyproject-toml
[tool.mypy]
plugins = [
    "pydantic.mypy"
]

disallow_untyped_defs = true
follow_imports = "silent"
no_silence_site_packages = true

[[tool.mypy.overrides]]
module = [
    "psse35",
    "psspy",
    "redirect",
    "tqdm"
]
ignore_missing_imports = true
